<%= render "layouts/navbar"%>

<% if logged_in? %>
    <%= will_paginate %>
      <ul>
        <% @users.each do |user|%>
        <li>
            <%= gravatar_for user, size: 50 %>
            <%= link_to user.name, user %>
            <% if current_user.admin? && current_user%>
              <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" }%>
            <% end %>
        </li>
        <%end%>
      </ul>
    <%= will_paginate %>


<%else%>
   <h1><center>Welcome.. to the Tweets</center></h1>
   <p><center>Login/Sign-up to explore more!</center></p>
<%end%>

